footer {
    background-color: #b1cde9;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.titulo-carrito {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #444;
    margin-bottom: 15px;
}
